<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>https://github.com/MirantisLabs/upgrade-ci/blob/master/jobs/upgrade_7_91_master_with_cluster.sh&#xd;
1. TODO</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>CUSTOM_BUILD_ID</name>
          <description>Build id number</description>
          <defaultValue>42</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>OCTANE_STABLE7_PATCHES</name>
          <description>CRs for octane stable/7.0 (separated by space)
For example: 288133 288134
</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>OCTANE_STABLE8_PATCHES</name>
          <description>CRs for octane stable/8.0 (separated by space)
For example: 288133 288134</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>OCTANE_STABLE9_PATCHES</name>
          <description>CRs for octane stable/mitaka (separated by space)
For example: 288133 288134


</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>QA_STABLE7_PATCHES</name>
          <description>CRs for fuel-qa stable/7.0 (separated by space)
For example: 288133 288134</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>QA_STABLE8_PATCHES</name>
          <description>CRs for fuel-qa stable/8.0 (separated by space)
For example: 288133 288134</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>QA_STABLE9_PATCHES</name>
          <description>CRs for fuel-qa stable/mitaka (separated by space)
For example: 288133 288134</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>QA_STABLE9_TESTGROUP</name>
          <description></description>
          <defaultValue>upgrade_cloud_live_migration</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>curl -s https://raw.githubusercontent.com/MirantisLabs/upgrade-ci/master/env \
 https://raw.githubusercontent.com/MirantisLabs/upgrade-ci/master/jobs/upgrade_7_91_master_with_cluster.sh | bash -x -</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <jenkins.plugins.slack.SlackNotifier plugin="slack@2.0.1">
      <teamDomain></teamDomain>
      <authToken></authToken>
      <buildServerUrl>http://upgrade-ci.bud.mirantis.net/</buildServerUrl>
      <room></room>
      <startNotification>true</startNotification>
      <notifySuccess>true</notifySuccess>
      <notifyAborted>true</notifyAborted>
      <notifyNotBuilt>true</notifyNotBuilt>
      <notifyUnstable>true</notifyUnstable>
      <notifyFailure>true</notifyFailure>
      <notifyBackToNormal>true</notifyBackToNormal>
      <notifyRepeatedFailure>false</notifyRepeatedFailure>
      <includeTestSummary>false</includeTestSummary>
      <commitInfoChoice>NONE</commitInfoChoice>
      <includeCustomMessage>false</includeCustomMessage>
      <customMessage></customMessage>
    </jenkins.plugins.slack.SlackNotifier>
  </publishers>
  <buildWrappers/>
</project>